html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em "Chakra Petch", georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 100%, 1);
  background: rgba(0, 0, 0, 0.954);
  font-family: "Chakra Petch", georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
h1 {
  font-family: "Teko";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

.layout__container {
  margin: 0 auto;
  max-width: 1920;
  padding: 0 4.0875rem 1.45rem;
  position: relative;
  left: 0;
  top: 0;  
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .layout__container {
    padding: 0 1.25rem 1.45rem;
  }
}
